body {
    overflow-x: hidden;
}
.home {
    background-image: url(header-bicycle.jpg);
    background-size: cover;
    background-position: center center;
}
@media (min-width: 1200px) {
    .card-img-overlay {
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-img-overlay {
        top: 50%;
        transform: translateY(-50%);
    }
    .card-img {
        min-height: 500px;
    }
body {
    overflow-x: hidden;
}
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-img-overlay {
        top: 50%;
        transform: translateY(-50%);
    }
body {
    overflow-x: hidden;
}
 }
 @media (min-width: 576px) and (max-width: 767.98px) {
    .card-img-overlay {
        top: 50%;
        transform: translateY(-50%);
    }
body {
    overflow-x: hidden;
}
 }
 @media (max-width: 575.98px) {
     .card-img {
         margin-top: 10px;
         margin-bottom: 10px;
         height: 400px;
     }
body {
    overflow-x: hidden;
}
     .card-img-overlay {
        top: 50%;
        transform: translateY(-50%);
    }
 }.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' stroke='black'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  
  height: 80px;
  width: 80px;


 }

.carousel-control-prev-icon {
  
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    height: 80px;
    width: 80px;

}
